@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f1f1f1;
  --secondary: rgba(31, 209, 253, 0.4);
  --tertiary: rgba(31, 209, 253, 0.6);
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

/* Hide scrollbar for Firefox */
.scrollbar-none {
  scrollbar-width: none;
}

/* @media screen and (min-width: 1024px) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary);
  }
} */

.singleLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 320px) {
  html {
    font-size: 80%;
  }
}
